<!DOCTYPE html>
<html>
<head>
  <title>PayrollApp</title>
  <%= wicked_pdf_stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= wicked_pdf_javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>

<body>

<%= yield %>

</body>
</html>
